.trivia {
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40;
    box-shadow: 0 1px 3px -1px black;
    color:white;
  }

  &__controls {
    margin-top:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:2rem;
    .btn {
      padding:1rem 3rem;
    }
  }
}

.btn {
  margin-top:0.5rem;
  margin-right: 0.5rem;
  &:disabled {
    opacity:1;
  }
  &:last-child {
    margin-right: 0;
  }
}

